.cloud {
    filter: hue-rotate(280deg);
}

code {
    color: darkgreen;
}

.highlight .nf {
    color: darkgreen;
}

.highlight .s {
    color: green;
}

.highlight .s2 {
    color: lightseagreen;
}

.nav-link:hover,.nav-link:focus{
    color: lime !important
}

.nav-link {
    /* This is a perf killer apparently, see https://github.com/moq/moq/issues/1374#issuecomment-1671868679
    animation: neonGlow 3s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
    */
}

@keyframes neonGlow {
    0% {
        text-shadow:
            0 0 10px rgba(255, 255, 255, .3),
            0 0 20px rgba(255, 255, 255, .3),
            0 0 22px rgba(255, 255, 255, .3),
            0 0 40px rgba(66, 220, 66, .3),
            0 0 60px rgba(66, 220, 66, 0.3),
            0 0 80px rgba(66, 220, 66, .1),
            0 0 100px rgba(66, 220, 66, .1),
            0 0 140px rgba(66, 220, 66, .1),
            0 0 200px rgba(66, 220, 66, .1);
    }

    100% {
        text-shadow:
            0 0 2px rgba(255, 255, 255, .8),
            0 0 8px rgba(255, 255, 255, .8),
            0 0 10px rgba(255, 255, 255, .8),
            0 0 20px rgba(66, 220, 66, .8),
            0 0 30px rgba(66, 220, 66, .8),
            0 0 40px rgba(66, 220, 66, .8),
            0 0 50px rgba(66, 220, 66, .5),
            0 0 80px rgba(66, 220, 66, .5);
    }
}